#mc4wp-admin {
	.row {
		margin: 0 -20px;
	}

	.row:after {
		content: "";
		clear: both;
	}

	.col-2 {
		float: left;
		padding: 0 20px;
		width: 50%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

}