body{
	padding-top: 0 !important;
}

#mailchimp-top-bar {

	position: relative;
	width: 100%;
	line-height: 40px;
	font-size: 18px;
	margin: 0;
	z-index: 1000;
	display: block;
	min-height: 1px;
	background: transparent;

	.mctp-bar {
		padding: 6px 12px;
	}

	form,
	input,
	label {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		box-shadow: none;
		text-shadow: none;
	}

	form{
		text-align: center;
	}

	label {
		margin: 0 6px 0;
		display: inline-block;
	}

	input{
		display: inline-block;
		height: auto;
		margin: 0 0 0 6px;
		padding: 6px 8px;
		line-height: 22px;
		outline: 0;
		font-size: 12px;
		border: 1px solid white;
		background: white;
	}

	.mctp-email {
		width: 240px;
	}

	.mctp-button {
		padding: 6px 18px;
		cursor: pointer;
	}

	.mctp-url {
		display: none !important;
	}

	.mctp-close{
		position: absolute;
		top: 6px;
		right: 12px;
		color: #666;
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

	.mctp-close:hover {
		opacity: 1;
		filter: alpha(opacity=100);
		cursor: pointer;
	}

}